@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #eeeeee;
  --primary-color-darker: #01a1dc;
  --secondary-color: #fff1dc;
  --tertiary-color: #cf2b44;
  --tertiary-color-darken: #b31028;
  --complement-color: #003a4f;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;

  color: #111;
  background-color: var(--primary-color);
  /* color-scheme: dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

p {
  margin: 1rem auto;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: #ccc;
  text-decoration: inherit;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

h1 {
  font-size: 3.2em;
  margin: 1rem auto;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #f6f6f6;
  background-color: var(--tertiary-color-darken) !important;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--tertiary-color) !important;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}
